@media screen and  (min-width:992px) and (max-width:1170px) {
    .header-inner {
        top:-110px;
        transform: translateY(90px);
        right: 10px;

    }
    header{
        height: 70vh;
    }
}

